In [8]:
import pandas as pd
import os
import datetime
from datetime import date

In [3]:
# load the file
os.chdir('/home/kamran/Link to CVM/AutoML/Test_Part')
# Reading the file
df = pd.read_csv('trans_type_amount_date_time.csv')

In [4]:
df.dtypes

cust_id          int64
trans_code      object
trans_amount     int64
trans_time      object
dtype: object

In [5]:
#Change the type of the trans_time
df['trans_time'] = df.trans_time.apply(lambda x : pd.to_datetime(x))

In [6]:
df.dtypes

cust_id                  int64
trans_code              object
trans_amount             int64
trans_time      datetime64[ns]
dtype: object

In [10]:
# It is useful in comparing the date in the data frame
duration = datetime.timedelta(days=365)

In [11]:
# Get the todays date
now = pd.to_datetime(str(date.today()), format='%Y-%m-%d')
now

Timestamp('2018-05-07 00:00:00')

In [15]:
(now - df['trans_time']).head()

0   127 days 10:51:32
1   151 days 13:12:54
2    20 days 20:42:06
3   456 days 00:41:12
4   675 days 19:11:51
Name: trans_time, dtype: timedelta64[ns]

In [14]:
(now - df['trans_time'] <= duration).head()

0     True
1     True
2     True
3    False
4    False
Name: trans_time, dtype: bool

In [17]:
#get all the transaction which is less than or equal to the 365(1 year)
df = df[now - df['trans_time'] <= duration]
df.head()

   cust_id             trans_code  trans_amount          trans_time
0       41                  debit            69 2017-12-30 13:08:28
1       25  debit_card_withdrawal           267 2017-12-06 10:47:06
2        2                 credit           255 2018-04-16 03:17:54
5       38  debit_card_withdrawal           229 2018-03-13 08:14:25
7       34                 credit           450 2017-07-18 18:58:33